# Visual Studio Code
.vscode/
.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app
*.sh 

# Downloaded libraries
addons/PhysiBoSS/MaBoSS-env-2.0/
addons/PhysiBoSS/MaBoSS-env-2.0
addons/PhysiBoSS/MaBoSS/
addons/PhysiBoSS/libMaBoSS-*.tar.gz
addons/dFBA/ext/
#Miscellaneous
core/doubts.txt

#configuration files
config/
#Results
output/
logs/
output*

.DS_Store
.codex
