# Visual Studio Code
.vscode/
.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Downloaded libraries
addons/PhysiBoSS/MaBoSS-env-2.0/
addons/PhysiBoSS/MaBoSS-env-2.0

